body {
    font-family: Arial, Helvetica, sans-serif;
}

.ms_container {
    margin: 0 10px;
    padding: 0;
}

.ms_bimg {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 17em;
    padding-bottom: 5em;
    width: 100%;
}

main {
    margin-top: 66px;
}

.ms_imgs {
    border-radius: 10px;
    width: 110%;
}


@media screen and (min-width: 0) {
    .ms_returnal-logo {
        width: 100%;
    }
}

@media screen and (min-width:576px) {
    .ms_returnal-logo {
        width: 70%;
    }
}

@media screen and (min-width:768px) {
    .ms_returnal-logo {
        width: 50%;
    }
}

@media screen and (min-width:992px) {
    .ms_jumbo-text {
        width: 30%;
    }

    .ms_returnal-logo {
        width: 20%;
    }
}