body {
    font-family: Arial, Helvetica, sans-serif;
}




.ms_bimg {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 17em;
    padding-bottom: 5em;
    width: 100%;
}

.ms_taketwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 17em;
    padding-bottom: 5em;
    width: 100%;
}

main {
    margin-top: 66px;
}

.ms_mt {
    margin-top: 120px;
}

.d-flex img {
    width: calc(100% / 5)
}

.ms_color {
    background-color: #BEBCBB;
}
.ms_color1{
    background-color: #161C3B;
}
.ms_color2{
    background-color: #00439C;
}
.ms_plus {
    width: 50%;
}
.ms_size{
    width: 10%;
}
.ms_size1{
    width: 3%;
}

li{
    list-style: none;
}





@media screen and (min-width: 0) {
    .ms_returnal-logo {
        width: 100%;
    }

    .ms_take-logo {
        width: 100%;
    }
    .ms_plus {
        width: 100%;
    }



}

@media screen and (min-width:576px) {
    .ms_returnal-logo {
        width: 70%;
    }

    .ms_take-logo {
        width: 70%;
    }
    .ms_plus {
        width: 80%;
    }


}

@media screen and (min-width:768px) {
    .ms_returnal-logo {
        width: 50%;
    }

    .ms_take-logo {
        width: 50%;
    }
    .ms_plus {
        width: 70%;
    }


}

@media screen and (min-width:992px) {
    .ms_jumbo-text {
        width: 35%;
    }

    .ms_take-logo {
        width: 20%;
    }

    .ms_returnal-logo {
        width: 20%;
    }
    .ms_plus {
        width: 50%;
    }

}